<div class="container">
  <div class="container__box">
    <h1 class="title">Angular & Google Analytics</h1>

    <hr class="hr" />

    <div class="wrapper">
      <ng-multiselect-dropdown
        class="select"
        *ngIf="roles"
        placeholder="Select elements"
        [settings]="dropdownSettings"
        [data]="roles"
        [(ngModel)]="selectedItems">
      </ng-multiselect-dropdown>

      <button class="btn" (click)="sendOptions()">Send options</button>

      <pre class="data__json" *ngIf="selectedItems.length">
        {{ selectedItems | json }}
      </pre>
    </div>
  </div>
</div>
